<!DOCTYPE html>
<html>
<head>
<style>


  
h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
p {
  color: rgb(9, 9, 243);
  font-family: courier;
  font-size: 100%;
}

p {
    border: 2px solid rgb(15, 15, 15);
    padding: 30px;
    margin: 50px;
  }

ul{
    color: rgb(206, 21, 21);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

body{
    background-color: aquamarine;
}
</style>
</head>
<body>


</body>
</html>